.user-section {
  margin-right: 3.75rem; 
}

.sidebar {
  transition: left 0.3s ease-in-out;
}

/* .sidebar.open {
  left: 0;
} */

.main-content {
  margin-left: 300px; /* Adjust this to match the sidebar width */
  padding: 20px;
}
