*{
   
margin: 0px;
padding:0px;
box-sizing: border-box;


}


/*Nav1 styles*/

.logins{
    margin-right: 500px;
}
.nav1btn{
    margin-right: 15px;
    border-radius: 20px;
}
.pnav{
    margin-top: 10px;
}


/*Nav2 styles*/

.n2links{
    margin-left: 600px;
}


/*Home*/
.h1head{
  
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.h2head{
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}
.tparty{
    margin-top : 90px
}

.foot{
    margin-bottom: 100px;
    
}

.sur1{
    margin-top : 50px;
    margin-bottom: 100px;
   
}

.suform{
    margin-top: 50px;
    margin-bottom :100px;
}

.insu{
    width: 400px;
    height: 60px;
}
.subtn{

   margin-left: 1200px;
   width: 120px;
   height: 50px;
   border-radius: 15px;
   

}

.crInput{
    width: 400px;
    height: 50px;
}

.tabdraft{

    height:150px

}
.tabdraft1{
    height :60px;
}

.draft{
    border: 2px solid black;
    padding: 80px;
}

/* SIgnIn&UP*/

.silab{
    color: rgb(31, 102, 196);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
 .silinp{
    width: 600px;
    height: 50px;
    margin-left: 17px;
    margin-bottom: 20px;


 }
 .sign{
   /* border: 2px solid rgb(97, 144, 245); */
   margin-top: 4rem;
   
 }

 .sibtn{
    width: 600px;
    height: 45px;
    margin-left: 17px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(250, 125, 15);
    border-radius: 10px;
    border-color:  rgb(250, 125, 15);;
 }
 .rad{
    margin-left: 30px;
    
 }
 .forg{
    margin-left: 300px;

 }
 .sinp{
    text-align: center;
 }
 .sinh{
    text-align: center;
 }

.per{
    height: 70px;
    width: 180px;
}
/*Dashboard*/
.row5{
    background-color: rgb(87, 119, 207);
    width: 1300px;
    border-bottom: 3px solid rgb(39, 39, 121);
    height: 70px;
    padding-top: 15px;
    color: white;
    

}
.row3{
    background-color: rgb(194, 210, 216);
    height: 100px;
    width: 1300px;
    border-bottom: 3px solid gray;
   
}
.row4{
    background-color: rgb(194, 210, 216); 
   
    height: 150px;
    width: 1300px;
    border-bottom: 3px solid gray;
    padding-top: 20px;
    
}

.robtn{
    height: 30px;
    width: 100px;
    margin-left: 3rem;
    margin-top: 30px;
}
.prow{
    margin-top: 30px;
}
.lach{
    margin-top: 30px;
}
.labin{
    width: 60%;
    margin-left:8rem;
    height: 40px;
   
}
.find{
    margin-top: 50px;
    margin-left: 28rem;
    width: 200px;
    height: 40px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.dashcont{
    border: 3px solid gray;
    height: 600px;
    
}
.v2row3{
    background-color: rgb(194, 210, 216);
    height: 5rem;
    width: 100%;
   border-bottom: 3px solid gray;
    
}

.rowC4{
    background-color: rgb(194, 210, 216); 
   
    height: 80px;
    width: 1300px;
    border-bottom: 3px solid gray;
}
.btn-group{
    margin-top: 60px;
    
}

.wholebox{
    margin-left: 20px;
    margin-top: 50px;
}


.vehinp{

     margin-left: 40px;
     width: 300px;
     height: 40px;


}

.vehinpp{

    margin-left: 40px;
    width: 100px;
    height: 40px;


}
.cbbtn{
    width: 150px;
    margin-top: 60px;

}

.combtn{
    margin-left: 900px;
}

.brk{
    width: 450px;
}
.shifttypes{
    margin-left: 450px;
}
.covers{
    text-align: center;
}
.cert{
    border: 3px solid black;
    padding: 30px;
    background-image: url('./images/sticky.png');
    background-size: 30rem;
    background-repeat: no-repeat;
  
  background-position: center center;
  /* Other CSS styles for your column */
 
   

    font-size: 21px;
    font-weight: bolder;

    
}
.sticker{
    text-align: center;
}
.certi{
     
    
}

.barcode{
    margin-left: 100px;
}